.my-picks-page {
  background-image: url("https://as01.epimg.net/futbol/imagenes/2020/04/10/primera/1586529604_835391_1586529700_noticia_normal.jpg");
  width: 99.5vw;
  max-height: 82.5vh;
  min-height: 82.5vh;
  background-size: cover;
  overflow: auto;
}

.my-picks-container {
  display: flex;
  flex-direction: column;
}

.my-picks-header {
  display: flex;
  margin-top: 2rem;
  /* border: solid 4px cornsilk; */
  padding-top: 1%;
}

.point-system-table-cont {
  display: flex;
  padding: 1rem 0rem 0rem 1rem;
  align-items: center;
  flex: 0.37;
  justify-content: center;
  /* border: solid 4px red; */
}

.point-system-table-text {
  display: flex;
  /* border: solid 4px blue; */
}

.point-system-table-text > div {
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
}

.color-cont {
  width: 1rem;
}

.blue-PS {
  background-color: rgb(12, 218, 233);
  color: rgb(12, 218, 233);
}

.yellow-PS {
  background-color: yellow;
  color: yellow;
}

.green-PS {
  background-color: rgb(8, 233, 8);
  color: rgb(8, 233, 8);
}

.orange-PS {
  background-color: orange;
  color: orange;
}

.notes-cont {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: 31rem;
  /* border: solid 4px purple; */
}

.my-picks-header-name {
  display: flex;
  flex: 0.23;
  justify-content: center;
  /* border: solid 4px dodgerblue; */
}

.my-picks-header-name > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.white-text {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

.button-cont-picks {
  display: flex;
  flex: 0.4;
  justify-content: center;
  align-items: center;
  /* border: solid 4px purple; */
}

.button-cont-picks > button {
  cursor: pointer;
  width: 17rem;
  height: 3rem;
  background-color: rgb(204, 200, 200);
}

.button-cont-picks > button > a {
  color: black;
}

.top {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  /* border: solid 4px red; */
}

.box {
  /* padding: 1rem; */
  margin-left: 0.5rem;
}

.left {
  display: flex;
  width: 83%;
  flex-direction: column;
  padding: 0;
  /* border: solid 4px green; */
}

.predictions-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: solid 4px orange; */
}

.single-group-cont-picks-pre-ko {
  width: 15rem;
  /* border: solid 4px dodgerblue; */
}

.single-group-cont-picks {
  width: 23.5rem;
  /* border: solid 4px dodgerblue; */
}

.single-group-cont-picks-pre-ko > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.single-group-cont-picks > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.single-group-cont-picks-pre-ko > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border: solid black 2px;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.single-group-cont-picks > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border: solid black 2px;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.single-group-cont-picks-pre-ko > div > div > h5 {
  margin: 0rem;
}

.single-group-cont-picks > div > div > h5 {
  margin: 0rem;
}

.single-group-cont-picks-pre-ko > div > div > div {
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
}

.single-group-cont-picks > div > div > div {
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
}

.prediction-cont > div {
  width: 8rem;
}

.outcome-pos-cont > div {
  width: 8rem;
}

.points-cont > div > h2 {
  padding: 1rem;
}

.blue {
  background-color: rgb(12, 218, 233);
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: rgb(8, 233, 8);
}

.orange {
  background-color: orange;
}

.right {
  width: 12%;
  display: flex;
  justify-content: center;
  /* border: solid 4px purple; */
}

.total-points-cont {
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  min-width: 17rem;
  max-width: 17rem;
  margin: 0;
  /* border: solid 4px red; */
}

.total-points-cont > div {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 400px;
  list-style: none;
  overflow: auto;
  min-width: 10rem;
  /* border: solid 4px blue; */
}

.total-points-cont > h3 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.total-points-cont > div > div > h4 {
  text-shadow: 2px 2px black;
  color: white;
  margin: 0;
  padding: 0.5rem;
}

.total-points-text-cont {
  min-width: 7rem;
}

.total-points-text-cont > div {
  border: solid 2px black;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  margin: 0.2rem 0.2rem 0.2rem 0rem;
}

.bold {
  font-weight: bold;
}

.total-points-points-cont {
  min-width: 4rem;
}

.total-points-points-cont > div {
  border: solid 2px black;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  margin: 0.2rem 0.2rem 0.2rem 0rem;
}

/*/////////////////////////////*/
/*/ ///knockout stuff below////*/
/*/////////////////////////////*/

.knockout-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  /* border: solid 4px yellow; */
}

.knockout-cont > div {
  display: flex;
  justify-content: space-around;
}

.knockout-cont > div > div {
  min-width: 10rem;
  max-width: 13rem;
  text-align: center;
}

.knockout-cont > div > div > h2 {
  text-shadow: 2px 2px black;
  color: white;
  margin-top: 0.2rem;
}

.knockout-cont > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );
  font-size: 1.5rem;
  /* border: solid 4px dodgerblue; */
}

.knockout-cont > div > .champ > div > div {
  height: 4rem;
  font-weight: bold;
  font-size: 2rem;
  width: 12rem;
}

.R16 > div {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.R16 > div > div {
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.wrong {
  color: red;
  text-decoration: line-through;
}

.correct {
  color: rgb(11, 238, 11);
}

.Q1L {
  margin-top: 38%;
}

.Q2L {
  margin-top: 50%;
}

.Q3L {
  margin-top: 50%;
}

.Q4L {
  margin-top: 50%;
}

.S1l {
  margin-top: 73%;
}

.S2l {
  margin-top: 128%;
}

.FL {
  margin-top: 148%;
}

.CL {
  margin-top: 40%;
}

.champ {
  width: 12.5rem;
}

.champ > div {
  width: 12rem;
}

.trophy {
  background-size: cover;
  background-image: url("/public/pics/trophy.jpg");
  height: 11.5rem;
  border-radius: 1rem;
  max-width: 10rem;
  margin: 1rem;
}
