.header-cont {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 15vh;
}

.login-row {
  display: flex;
  padding: 0;
  margin: 0;
  height: 3rem;
}

.last-updated-cont {
  padding: 0.9rem 0rem 0rem 1rem;
  flex-grow: 1;
  font-weight: bold;
  font-size: 1.3rem;
}

.submitted-picks {
  font-size: 1rem;
  padding: 0.5rem 0rem 0rem 6rem;
}

.last-updated-cont-NU {
  padding: 0.5rem 0rem 0rem 1rem;
  flex-grow: 1;
}

.login-cont {
  padding: 0.5rem 3rem 0rem 0rem;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.login-cont > a {
  color: blue;
}

.body-cont {
  overflow: auto;
  height: 84vh;
}
