.edit-name-page {
  padding-top: 5%;
  width: 100vw;
  height: 84vh;
  display: flex;
  justify-content: center;
}

.black-text {
  margin: 0;
  text-align: center;
  color: black;
}

.main-cont-edit-name {
  border-radius: 1rem;
  padding: 0.5rem;
  background: black;
  height: 24rem;
  width: 30rem;
  margin-top: 6%;
}

.main-cont1-edit-name {
  border-radius: 1rem;
  padding: 1rem;
  height: 23rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
}

.main-text-container-edit-name > h1 {
  margin: 0;
  padding: 1rem 0rem 0rem 0rem;
}

.input-cont {
  margin: 5%;
  display: flex;
}

.input-cont > input {
  text-align: center;
  background: transparent;
}

.edit-name > input {
  width: 100%;
  font-size: 2rem;
}

.change-pw > input {
  margin-right: 4%;
  font-size: 1.5rem;
}

.change-pw {
  display: flex;
  justify-content: center;
}

.change-pw > div {
  font-size: 1rem;
  min-width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile > h4 {
  margin: 0;
  margin-right: 5%;
  font-size: 1.5rem;
}

.profile > div {
  font-size: 1.5rem;
}

.profile > a {
  display: flex;
  align-items: center;
  margin-left: 10%;
  width: 8rem;
}

.main-cont-edit-name > div main > div > a {
  margin-top: 2%;
}

/* .main-cont-edit-name > div main > div > button {
  font-size: 1.3rem;
  cursor: pointer;
  width: 7rem;
} */

.error-cont-login-edit-name {
  height: 2rem;
}
