.admin-page-user {
  background: linear-gradient(
    to bottom,
    rgb(6, 241, 233) 0%,
    rgb(5, 189, 183) 25%,
    rgb(2, 124, 120) 50%,
    rgb(2, 82, 79) 75%,
    rgb(0, 12, 11) 100%
  );
}

.admin-container-user {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border: solid 2px red;
}

.user-admin-header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 1%;
}

.user-admin-dropdown-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
}

.user-admin-dropdown {
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  border-radius: 0.5rem;
}

.user-details-cont {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 1%;
}

.input-cont-admin-user {
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.input-cont-admin-user > input {
  background: transparent;
  font-size: 1.5rem;
  text-align: center;
  border: solid 2px black;
}

.paid-cont {
  padding-right: 5%;
}

.user-admin {
  display: flex;
  flex-direction: column;
  border-top: solid 2px black;
  padding-top: 1%;
}

.group-dropdown-admin {
  border-radius: 0.5rem;
}
