.loading-cont {
  width: 100vw;
  max-height: 84vh;
  min-height: 84vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
}

.leaderboard-page {
  background-image: url("https://i.dailymail.co.uk/i/newpix/2018/07/22/14/4E7C3EE900000578-0-image-a-28_1532264549141.jpg");
  width: 100vw;
  max-height: 84vh;
  min-height: 84vh;
  background-size: cover;
  overflow: auto;
}

.payout {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 200;
  right: 150;
}

.payout > h4 {
  margin: 0;
}

.payout-cont-f {
  position: absolute;
  top: 25;
  left: -16;
}

.payout-text-cont {
  border: solid 2px rgb(200, 192, 192);
  display: flex;
  text-align: center;
  width: 140%;
}

.place-col-cont {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.place-col-cont > div {
  border: solid 1px rgb(200, 192, 192);
}

.dollar-col-cont {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.dollar-col-cont > div {
  border: solid 1px rgb(200, 192, 192);
}

.table-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.table-cont > div {
  display: flex;
}

.table-cont > div > div {
  display: flex;
  flex-direction: column;
}

.table-cont > div > div > h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.table-cont > div > div > div {
  display: flex;
  flex-direction: column;
}

.table-cont > div > div > div > input {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.pre-tourney-header {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  margin-top: 3%;
}

.rank-column {
  flex: 0.5;
  align-items: flex-end;
}

.rank-column > div {
  flex: 0.5;
  align-items: flex-end;
  padding-right: 10%;
}

.small-box {
  width: 50%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.name-column {
  flex: 1;
  align-items: center;
}

.name-column > div {
  align-items: center;
}

.name-column > div > input {
  min-width: 13rem;
}

.name-box {
  width: 80%;
}

.tie-tie {
  background-color: yellow;
}

.not-paid {
  background-color: red;
}

.score-column {
  flex: 0.5;
  align-items: flex-start;
}

.score-column > div {
  flex: 0.5;
  padding-left: 14%;
}
