.my-picks-unlocked-page {
  background: linear-gradient(
    to bottom,
    rgb(6, 41, 241) 0%,
    rgb(21, 50, 178) 25%,
    rgb(14, 35, 130) 50%,
    rgb(7, 20, 77) 75%,
    rgb(2, 8, 35) 100%
  );
  width: 100vw;
  height: 84vh;
  background-size: cover;
  overflow: auto;
}

.my-picks-container-ul {
  margin-top: 5%;
  width: 90vw;
}

.error-cont-placeholder {
  min-height: 5.2rem;
}

.tiebreaker-cont-edit-picks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiebreaker-cont-edit-picks > h3 {
  margin: 0;
  padding-right: 0.5%;
}

.tiebreaker-cont-edit-picks > input {
  background: transparent;
  border: solid 1px white;
  max-width: 4rem;
  height: 2rem;
  font-size: 1.5rem;
}

.edit-group-picks {
  display: flex;
  justify-content: space-around;
}

.predictions-cont-edit {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-group-cont-edit-picks-outside {
  width: 18rem;
  margin: 0% 1% 0% 1%;
  padding-bottom: 1%;
}

.single-group-cont-edit-picks-outside > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin: 0rem 0rem 0.3rem 0rem;
  font-size: 1.5rem;
}

.single-group-cont-edit-picks-inside {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  min-height: 12rem;
}

.single-group-cont-edit-picks-inside > div > h5 {
  margin: 0rem;
}

.single-group-cont-edit-picks-inside > div > div {
  margin: 0rem 0.17rem 0.5rem 0rem;
  font-size: 1rem;
  height: 2.3rem;
}

.rank-cont > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  width: 2.2rem;
  border-radius: 0.5rem;
}

/*/////////////////////////////*/
/*/ ///knockout stuff below////*/
/*/////////////////////////////*/

.knockout-cont-edit {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.knockout-cont-edit > div {
  display: flex;
  justify-content: space-around;
}

.knockout-cont-edit > div > div {
  min-width: 9rem;
  max-width: 9rem;
  text-align: center;
}

.knockout-cont-edit > div > div > h2 {
  text-shadow: 2px 2px black;
  color: white;
  margin-top: 0.2rem;
}

.knockout-cont-edit > div > div > div > input {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );
  font-size: 17px;
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem 0rem 0.5rem 0rem;
  min-width: 9rem;
  max-width: 9rem;
}

.R16-game {
  margin-bottom: 2rem;
}

.reg-input {
  height: 3rem;
  min-width: 9rem;
  max-width: 9rem;
}

.Q1UL {
  margin-top: 36%;
}

.Q2UL {
  margin-top: 60%;
}

.Q3UL {
  margin-top: 60%;
}

.Q4UL {
  margin-top: 60%;
}

.S1UL {
  margin-top: 80%;
}

.S2UL {
  margin-top: 155%;
}

.FUL {
  margin-top: 170%;
}

.ko-edit-red {
  border: solid 3px red;
}

.champ-edit {
  width: 13rem;
}

.champ-edit > div {
  width: 12rem;
  margin-top: 162%;
}

.champ-input {
  height: 4rem;
  font-weight: bold;
  font-size: 2rem;
}
