.rules-page {
  padding-top: 3%;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  width: 100vw;
  height: 84vh;
  background-size: cover;
  overflow: auto;
}

.rules-page > div > h2 {
  padding-top: 1%;
  margin-left: 2%;
}

.rules-page > div > ul {
  padding-right: 9rem;
}

.rules-page > div > ul > li {
  padding-left: 4%;
  font-size: 1rem;
}

.margin-top {
  margin-top: 1%;
}

.important {
  font-weight: bold;
}

.to-do {
  color: red;
}
