.rules_page {
  margin-top: 1rem;
  padding-left: 2rem;
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
}

.rules_page > div > h2 {
  padding-top: 1rem;
}

.rules_page > div > ul {
  padding-right: 9rem;
}

.rules_page > div > ul > li {
  padding-left: 2rem;
  font-size: 1.3rem;
}

.to-do {
  color: red;
}
